.header {
    text-align: center;
}

.navegation {
    display: flex;
    justify-content: space-between;
    margin-left: 7rem;
    margin-right: 7rem;
    padding: 1rem 0;
}

.navegation * {
    color: #000;
    font-size: 19px;
}

.navegation a:checked {
    border-bottom: 1px solid #000;
}