* {
    font-family: 'Rubik Spray Paint', cursive;
}

.section-principal {
    color: white;
    text-align: right;
}

.section-principal {
    padding-left: 7rem;
    padding-right: 7rem;
    background: rgb(20, 19, 19);
}

.title-principal {
    text-align: center;
    margin: 1rem 0;
    font-family: 'Chivo Mono', monospace;
    text-decoration: overline;
    color: #fff;
}

.image-principal {
    height: 33rem;
}

.first-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-section p {
    padding-left: 3rem;
    font-size: 20px;
}